<div class="h-100 d-flex align-items-center justify-content-center">
	<div class="border rounded registerBlock">
		<form class="p-4" [formGroup]="myForm" (ngSubmit)="onSubmit()">
			<div class="mb-3">
				<label for="nameInput" class="form-label">Ime</label>
				<input
					type="text"
					formControlName="name"
					class="form-control"
					id="nameInput"
					placeholder="Pera Peric"
					required
				/>
				<div
					class="errorMessage"
					*ngIf="
						myForm.controls['name'].invalid &&
						(myForm.controls['name'].dirty ||
							myForm.controls['name'].touched)
					"
				>
					<div *ngIf="myForm.controls['name'].errors?.['required']">
						Unesite ime
					</div>
					<div *ngIf="myForm.controls['name'].errors?.['pattern']">
						Minimum tri karaktera
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="emailInput" class="form-label">Email adresa</label>
				<input
					type="email"
					formControlName="email"
					class="form-control"
					id="emailInput"
					placeholder="pera@gmail.com"
					required
				/>
				<div
					class="errorMessage"
					*ngIf="
						myForm.controls['email'].invalid &&
						(myForm.controls['email'].dirty ||
							myForm.controls['email'].touched)
					"
				>
					<div *ngIf="myForm.controls['email'].errors?.['required']">
						Unesite email
					</div>
					<div *ngIf="myForm.controls['email'].errors?.['pattern']">
						Email format nije dozovljen
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="passwordInput" class="form-label">Lozinka</label>
				<input
					type="password"
					formControlName="password"
					class="form-control"
					id="passwordInput"
					placeholder="********"
					aria-describedby="passwordSmall"
					required
				/>
				<div
					class="errorMessage"
					*ngIf="
						myForm.controls['password'].invalid &&
						(myForm.controls['password'].dirty ||
							myForm.controls['password'].touched)
					"
				>
					<div *ngIf="myForm.controls['password'].errors?.['required']">
						Unesite lozinku
					</div>
					<div *ngIf="myForm.controls['password'].errors?.['pattern']">
						Minimum sest karaktera
					</div>
				</div>
			</div>
			<div class="mb-3">
				<label for="phoneNumberInput" class="form-label"
					>Broj telefona</label
				>
				<input
					type="text"
					formControlName="phoneNumber"
					class="form-control"
					id="phoneNumberInput"
					placeholder="0641234567"
					required
				/>
				<div
					class="errorMessage"
					*ngIf="
						myForm.controls['phoneNumber'].invalid &&
						(myForm.controls['phoneNumber'].dirty ||
							myForm.controls['phoneNumber'].touched)
					"
				>
					<div *ngIf="myForm.controls['phoneNumber'].errors?.['required']">
						Unesite broj telefona
					</div>
					<div *ngIf="myForm.controls['phoneNumber'].errors?.['pattern']">
						Nedozvoljen broj cifara
					</div>
				</div>
			</div>
			<button type="submit" [disabled]="myForm.invalid" class="btn">
				Registruj me
			</button>
		</form>
	</div>
</div>
