<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="border rounded registerBlock">
        <form class="p-4">
            <div class="mb-3">
                <label for="nameInput" class="form-label">Ime</label>
                <input type="text" class="form-control" id="nameInput" placeholder="Pera Peric" required>
            </div>
            <div class="mb-3">
                <label for="emailInput" class="form-label">Email adresa</label>
                <input type="email" class="form-control" id="emailInput" placeholder="pera@gmail.com" required>
            </div>
            <div class="mb-3">
                <label for="passwordInput" class="form-label">Lozinka</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="********" aria-describedby="passwordSmall" required>
                <small id="passwordSmall" class="form-text text-muted">Minimum osam karaktera.</small>
            </div>
            <div class="mb-3">
                <label for="phoneNumberInput" class="form-label">Broj telefona</label>
                <input type="text" class="form-control" id="phoneNumberInput" placeholder="0641234567" required>
            </div>
            <button type="submit" class="btn btn-primary">Registruj me</button>
        </form>
    </div>
</div>