<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<!-- eslint-disable @angular-eslint/template/click-events-have-key-events -->
<div class="container-fluid mt-5">
	<div class="row gy-3">
		<div class="col-md-4">
			<div class="card">
				<div class="card-header">Moji četovi</div>
				<div
					class="card-body custom-list-available-chats overflow-auto"
					id="available-chats"
				>
					<!-- List of available chats -->
					<ul class="list-group">
						<li
							class="list-group-item single-user-chat"
							(click)="showChat(worker.id!)"
							*ngFor="let worker of signalR.workers()"
						>
							<i class="bi bi-person-circle"></i>
							{{ worker.name }}
							{{ worker.lastName }}
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="card">
				<div class="card-header">Trenutni čet - <u>Nikola</u></div>
				<div class="card-body messages" id="current-chat-messages">
					<!-- Messages of the currently clicked chat -->
					@for (message of signalR.currentChat()?.messages; track message){
					@if(message.senderId===(+globalState.getWorkerData().id!)){
					<div class="card message align-self-end flex-grow-0">
						<span>{{ message.message }}</span>
						<!-- <span className="message-footer">30.03.2024</span> -->
					</div>
					} @else {
					<div class="card message self align-self-start flex-grow-0">
						<span>{{ message.message }}</span>
						<!-- <span className="message-footer">30.03.2024</span> -->
					</div>
					} }
				</div>
				<div class="card-footer">
					<div class="input-group">
						<input
							type="text"
							class="form-control"
							placeholder="Unesi poruku..."
							[(ngModel)]="messageText"
						/>
						<div class="input-group-append">
							<button
								class="btn btn-primary"
								type="button"
								(click)="sendMessage()"
							>
								Pošalji
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
